nav {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  gap: 5px;
  font-size: 20rem;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 40px;
  gap: 5px;
}
.dark-mode {
  background-color: #002c77;
}
.nav-left a,
.nav-left .dropdown-toggle {
  background-color: #002c77;
  color: white !important;
  padding: 8px 15px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.nav-left a.active,
.nav-left .dropdown-toggle.active,
.nav-left .dropdown-item.active {
  background-color: #a4d65e !important;
  color: white !important;
}

.nav-left a:hover,
.nav-left .dropdown-toggle:hover {
  background-color: #0040b3;
  text-decoration: none;
}
.dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
}
.dropdown-item {
  color: #002c77;
}
.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #0040b3;
}
.nav-right a {
  background-color: #002c77;
  color: white !important;
  padding: 8px 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 18px;
  text-decoration: none;
}
.bell-notification {
  position: relative;
}
.bell-notification::after {
  content: "67";
  position: absolute;
  top: -5px;
  right: -2px;
  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 7px;
  border-radius: 50%;
}
.nav-right .user-info {
  background-color: #002c77;
  color: white;
  padding: 11px 12px;
  border-radius: 6px;
  font-size: 14px;

  gap: 5px;
  text-decoration: none;
}
.chat-notification {
  position: relative;
}
.chat-notification::after {
  content: "1";
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 7px;
  border-radius: 50%;
}
.underline {
  margin-top: -11px;
  height: 10px;
  width: 202vh;
  background-color: #a4d65e;
}

.kendo-grid-container {
  margin: 20px;
}

.k-grid-header {
  background-color: #003366 !important;
  color: white !important;
  font-weight: bold;
}

.k-grid td {
  vertical-align: middle !important;
}

.dropdown .btn-success {
  background-color: #8dc63f !important;
  border: none;
}

.dropdown .dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
}

.dropdown .dropdown-item {
  color: #003366;
}

.dropdown .dropdown-item:hover {
  background-color: #f1f1f1;
  color: #0040b3;
}
::ng-deep .k-grid-header th.k-header {
  background-color: #002c77 !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
  display: table-cell !important; /* Ensure the header is displayed */
  visibility: visible !important;
}
.search-btn {
  background-color: #84b340;
  color: white;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn:hover {
  background-color: #76a137;
}
.custom-toggle {
  background-color: #002f6c;
  border-radius: 50px;
  display: inline-flex;
  padding: 4px;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.toggle-btn.active {
  background-color: #74b23e;
  color: white;
}
