<div class="nav-right">
  <button
    class="dark-mode btn btn-outline-secondary"
    (click)="toggleDarkMode()"
  >
    <i class="bi bi-moon-fill" *ngIf="!isDarkMode"></i>
    <i class="bi bi-sun-fill" *ngIf="isDarkMode"></i>
  </button>

  <a href="#"><i class="bi bi-envelope"></i></a>
  <a href="#"><i class="bi bi-gear"></i></a>
  <a class="bell-notification" href="#"><i class="bi bi-bell"></i></a>
  <a href="#"> <i class="bi bi-envelope-paper"></i></a>
  <div class="user-info"><i class="bi bi-person-circle"></i> admin Admin</div>
</div>
<nav>
  <div class="nav-left">
    <a
      href="#"
      [class.active]="activeLink === 'dashboard'"
      (click)="setActive('dashboard')"
    >
      <i class="bi bi-speedometer2 me-2"></i> Dashboard
    </a>

    <div class="dropdown">
      <a
        class="dropdown-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        [class.active]="activeLink === 'agent-management'"
        (click)="setActive('agent-management')"
      >
        <i class="bi bi-person"></i> Agent Management
      </a>
      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item"
            href="#"
            [class.active]="activeLink === 'add-agent'"
            (click)="setActive('add-agent')"
          >
            <i class="bi bi-plus"></i> Add Agent
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            href="#"
            [class.active]="activeLink === 'manage-agents'"
            (click)="setActive('manage-agents')"
          >
            <i class="bi bi-list"></i> Manage Agents
          </a>
        </li>
      </ul>
    </div>

    <a
      href="#"
      [class.active]="activeLink === 'calendar'"
      (click)="setActive('calendar')"
    >
      <i class="bi bi-calendar"></i> Calendar
    </a>

    <a
      href="#"
      [class.active]="activeLink === 'ez-quote'"
      (click)="setActive('ez-quote')"
    >
      <i class="bi bi-pencil-square"></i> EZ Quote
    </a>

    <a
      href="#"
      [class.active]="activeLink === 'lead-management'"
      (click)="setActive('lead-management')"
    >
      <i class="bi bi-diagram-3 fs-5 me-2"></i> Lead Management
    </a>

    <a
      href="#"
      [class.active]="activeLink === 'activities'"
      (click)="setActive('activities')"
    >
      <i class="bi bi-list-ul me-2"></i> Activities
    </a>

    <a
      href="#"
      [class.active]="activeLink === 'workflows'"
      (click)="setActive('workflows')"
    >
      <i class="bi bi-gear text-white"></i> Workflows
    </a>

    <a
      href="#"
      [class.active]="activeLink === 'chat'"
      (click)="setActive('chat')"
      class="chat-notification"
    >
      <i class="bi bi-chat-dots"></i> Chat
    </a>
  </div>
</nav>
<div class="underline"></div>
<!-- Toolbar Layout -->
<div class="d-flex justify-content-between align-items-center bg-light p-3">
  <!-- Left Section -->
  <div class="d-flex align-items-center gap-2 border-none">
    <h4 class="fw-bold text-success mb-0">Lead Management</h4>
    <span class="text-success fw-bold ms-4 mt-1">Leads</span>
  </div>

  <!-- Right Section -->
  <div class="d-flex gap-2">
    <div class="ms-3 ps-3 d-flex align-items-center">
      <input
        type="checkbox"
        class="form-check-input me-2 border-3"
        id="boardView"
      />
      <label class="form-check-label" for="boardView">Board View</label>
    </div>

    <button class="k-button k-button-lg k-rounded-md k-button-solid-success">
      <i class="bi bi-download me-2"></i> Export to Excel
    </button>
    <button
      class="k-button k-button-md k-rounded-md k-button-solid-success"
      (click)="onCreateClick()"
    >
      Create
    </button>
  </div>
</div>
<div class="border border-success rounded p-3">
  <!-- Kendo Grid -->
  <kendo-grid
    *ngIf="gridView.length"
    [kendoGridBinding]="gridView"
    [data]="gridView"
    [height]="500"
    [pageSize]="20"
    [pageable]="true"
    [sortable]="true"
    [resizable]="true"
    [reorderable]="true"
    [columnMenu]="{ filter: true }"
    [kendoGridSelectBy]="'id'"
    [(selectedKeys)]="mySelection"
  >
    <ng-template kendoGridToolbarTemplate>
      <select class="form-select">
        <option>All Leads</option>
      </select>
      <select class="form-select">
        <option>Select Saved Preferences</option>
        <option>avg smf <i class="bi bi-trash"></i></option>
        <option>canada <i class="bi bi-trash"></i></option>
        <option>App.setter <i class="bi bi-trash"></i></option>
        <option>Canada Filter <i class="bi bi-trash"></i></option>
        <option>Interstate Marie <i class="bi bi-trash"></i></option>
        <option>lostswon <i class="bi bi-trash"></i></option>
      </select>
      <kendo-textbox
        class="custom-search-box"
        [style.width.px]="250"
        placeholder=" Type Search Keyword..."
        (valueChange)="onFilter($event)"
      >
      </kendo-textbox>
      <i class="search-btn bi bi-search"></i>

      <div class="ms-auto gap-2">
        <div class="custom-toggle">
          <button class="toggle-btn active">Non-Intl.</button>
          <button class="toggle-btn">Intl.</button>
        </div>

        <button
          class="k-button k-button-sm k-rounded-md k-button-solid-success"
        >
          Clear Filters
        </button>
        <button
          class="k-button k-button-lg k-rounded-md k-button-solid-success"
        >
          Bulk Edit
        </button>
        <button
          class="k-button k-button-lg k-rounded-md k-button-solid-success"
        >
          Save Preferences
        </button>
        <button
          type="button"
          class="btn btn-outline-success rounded rounded-3 px-2 py-1"
        >
          <i class="bi bi-list fs-5"></i>
        </button>
      </div>
    </ng-template>
    <kendo-grid-checkbox-column
      [width]="45"
      [headerClass]="{ 'text-center': true }"
      [class]="{ 'text-center': true }"
      [resizable]="false"
      [columnMenu]="false"
      [showSelectAll]="true"
    ></kendo-grid-checkbox-column>

    <kendo-grid-column title="Actions" [width]="150">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div *ngIf="editedRowIndex !== rowIndex">
          <button
            class="btn btn-sm btn-primary"
            (click)="onEditClick(dataItem, rowIndex)"
          >
            Edit
          </button>
          <button
            class="btn btn-sm btn-danger ms-2"
            (click)="deleteRow(dataItem.recordId)"
          >
            Delete
          </button>
        </div>
        <div *ngIf="editedRowIndex === rowIndex">
          <button class="btn btn-sm btn-success me-1" (click)="onSaveClick()">
            Save
          </button>
          <button class="btn btn-sm btn-secondary" (click)="cancelEdit()">
            Cancel
          </button>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="Actions"
      title="Actions"
      [width]="150"
      [headerClass]="'text-center'"
      [class]="'text-center'"
    >
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="dropdown">
          <button
            class="btn btn-success dropdown-toggle"
            icon="gear"
            type="button"
            [id]="'dropdownMenuButton' + rowIndex"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-gear"></i> Actions
          </button>
          <ul
            class="dropdown-menu"
            [attr.aria-labelledby]="'dropdownMenuButton' + rowIndex"
          >
            <li><a class="dropdown-item" href="#">Edit</a></li>
            <li><a class="dropdown-item" href="#">Delete</a></li>
          </ul>
        </div>
      </ng-template>
    </kendo-grid-column>
    <!-- Editable Columns -->
    <kendo-grid-column field="recordId" title="Record ID" [width]="100">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span *ngIf="editedRowIndex !== rowIndex">{{ dataItem.recordId }}</span>
        <input
          *ngIf="editedRowIndex === rowIndex"
          [(ngModel)]="editedItem.recordId"
          class="form-control"
        />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="lastName" title="Last Name" [width]="150">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span *ngIf="editedRowIndex !== rowIndex">{{ dataItem.lastName }}</span>
        <input
          *ngIf="editedRowIndex === rowIndex"
          [(ngModel)]="editedItem.lastName"
          class="form-control"
        />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="firstName" title="First Name" [width]="150">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span *ngIf="editedRowIndex !== rowIndex">{{
          dataItem.firstName
        }}</span>
        <input
          *ngIf="editedRowIndex === rowIndex"
          [(ngModel)]="editedItem.firstName"
          class="form-control"
        />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="primaryEmailAddress" title="Email" [width]="200">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span *ngIf="editedRowIndex !== rowIndex">{{
          dataItem.primaryEmailAddress
        }}</span>
        <input
          *ngIf="editedRowIndex === rowIndex"
          [(ngModel)]="editedItem.primaryEmailAddress"
          class="form-control"
        />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="primaryPhoneType"
      title="Phone Type"
      [width]="150"
    >
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span *ngIf="editedRowIndex !== rowIndex">{{
          dataItem.primaryPhoneType
        }}</span>
        <input
          *ngIf="editedRowIndex === rowIndex"
          [(ngModel)]="editedItem.primaryPhoneType"
          class="form-control"
        />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="lmpLeadId" title="LMP Lead ID" [width]="150">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span *ngIf="editedRowIndex !== rowIndex">{{
          dataItem.lmpLeadId
        }}</span>
        <input
          *ngIf="editedRowIndex === rowIndex"
          [(ngModel)]="editedItem.lmpLeadId"
          class="form-control"
        />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="appointmentType"
      title="Appointment Type"
      [width]="150"
    >
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span *ngIf="editedRowIndex !== rowIndex">{{
          dataItem.appointmentType
        }}</span>
        <input
          *ngIf="editedRowIndex === rowIndex"
          [(ngModel)]="editedItem.appointmentType"
          class="form-control"
        />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="bookingAgency"
      title="Booking Agency"
      [width]="150"
    >
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span *ngIf="editedRowIndex !== rowIndex">{{
          dataItem.bookingAgency
        }}</span>
        <input
          *ngIf="editedRowIndex === rowIndex"
          [(ngModel)]="editedItem.bookingAgency"
          class="form-control"
        />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="assignedDate" title="Assigned Date" [width]="140">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.assignedDate }}
      </ng-template>
    </kendo-grid-column>

    <!-- Sales Rep -->
    <kendo-grid-column field="salesRep" title="Sales Rep" [width]="180">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.salesRep }}
      </ng-template>
    </kendo-grid-column>

    <!-- Coordinator -->
    <kendo-grid-column field="coordinator" title="Coordinator" [width]="200">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.coordinator }}
      </ng-template>
    </kendo-grid-column>

    <!-- Sync to Mobile -->
    <kendo-grid-column
      field="syncToMobile"
      title="Sync to Mobile"
      [width]="140"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.syncToMobile" />
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
